## Libraries

In [1]:
import pandas as pd

## Kaggle Data Download

In [2]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [2]:
# download single file
#Signature: dataset_download_file(dataset, file_name, path=None, force=False, quiet=True)
api.dataset_download_file('airqualityanthony/uk-defra-aurn-air-quality-data-2015-2023','AURN_2015_2023.csv',quiet=False)

Downloading AURN_2015_2023.csv.zip to /workspaces/Thesis

100%|██████████| 335M/335M [00:08<00:00, 42.0MB/s]

True

## Data Prep

In [3]:
import dask.dataframe as dd
df = dd.read_csv('AURN_2015_2023.csv')

/opt/conda/envs/masters/lib/python3.10/site-packages/dask/dataframe/_pyarrow_compat.py:23: UserWarning: You are using pyarrow version 13.0.0 which is known to be insecure. See https://www.cve.org/CVERecord?id=CVE-2023-47248 for further details. Please upgrade to pyarrow>=14.0.1 or install pyarrow-hotfix to patch your current version.
  warnings.warn(

In [4]:
df.head()

,Unnamed: 0,site,code,date,co,nox,no2,no,o3,so2,...,v10,v2.5,nv10,nv2.5,ws,wd,air_temp,latitude,longitude,site_type
0,1,Aberdeen Erroll Park,ABD9,2021-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.1574,-2.09477,Urban Background
1,2,Aberdeen Erroll Park,ABD9,2021-10-01 01:00:00,NaN,18.54277,14.25911,2.79374,35.32389,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.1574,-2.09477,Urban Background
2,3,Aberdeen Erroll Park,ABD9,2021-10-01 02:00:00,NaN,13.90708,12.77317,0.73952,30.23486,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.1574,-2.09477,Urban Background
3,4,Aberdeen Erroll Park,ABD9,2021-10-01 03:00:00,NaN,15.88038,13.32908,1.66392,21.10453,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.1574,-2.09477,Urban Background
4,5,Aberdeen Erroll Park,ABD9,2021-10-01 04:00:00,NaN,20.20285,18.26575,1.26334,16.41463,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.1574,-2.09477,Urban Background

##### Subset Columns interested in

In [5]:
## select columns
data = df[['site','code','date','no2','ws','wd','air_temp']]

In [14]:
len(data)

11252614

In [10]:
## count NAs
data.isnull().sum().compute()

site             0
code             0
date             0
no2         747992
ws          595164
wd          595164
air_temp    595164
dtype: int64

In [6]:
## drop NAs
data = data.dropna()
data.isnull().sum().compute()

site        0
code        0
date        0
no2         0
ws          0
wd          0
air_temp    0
dtype: int64

## Modelling